.player-list {
  width: 100%;
}

.player-list > div {
  margin: 3px 5px 3px 5px;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  gap: 3px;
}

.player-list > div > span {
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  padding: 5px;
}

.number {
  text-align: center;
}

.name {
  text-align: left;
}

.action-btn {
  text-align: center;
}