<div class="container">
  <nav>
    <span (click)="setShowPlayers(true)" [ngClass]="showPlayersBtn">Players</span>
    <span (click)="setShowPlayers(false)" [ngClass]="showTeamsBtn">Teams</span>
  </nav>

  <div *ngIf="showPlayers">
    <div class="data-source-wrapper">
      <div class="data-source">
        <input 
          #newPlayerNameInput 
          (input)="onNewPlayerNameInput(newPlayerNameInput.value)" 
          type="text" 
          placeholder="Name"
          [value]="newPlayerName"
        >
        <button (click)="addPlayer()">+</button>
      </div>
      <div 
        class="error-message"
        *ngIf="playerErrorMessage">{{playerErrorMessage}}
      </div>
    </div>
    <app-players 
      [players]="players"
      (deletePlayerEvent)="deletePlayer($event)"
    ></app-players>

  </div>

  <div *ngIf="!showPlayers">
    <div class="data-source-wrapper">
      <div class="data-source">
        <input 
        #numberOfTeamsInput
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        type="number" 
        placeholder="Number of teams"
        [value]="numberOfTeams"
        >
        <button (click)="generateTeams()">Go</button>
      </div>
      <div 
          class="error-message"
          *ngIf="teamsErrorMessage">{{teamsErrorMessage}}
      </div>
    </div>
    <app-teams [teams]="teams"></app-teams>
  </div>

</div>