<header>
  <h2>Team <span 
    style="color: rgb(0, 89, 255); background-color: white; padding: 0 2px 0 2px; border-radius: 5px;"
    >Generator</span></h2>
</header>
<div class="container">
  <nav>
    <span (click)="setShowPlayers(true)" [ngClass]="showPlayersBtn">Players</span>
    <span (click)="setShowPlayers(false)" [ngClass]="showTeamsBtn">Teams</span>
  </nav>

  <div *ngIf="showPlayers">
    <div class="data-source-wrapper">
      <div class="data-source">
        <input 
          #newPlayerNameInput 
          (input)="onNewPlayerNameInput(newPlayerNameInput.value)" 
          type="text" 
          placeholder="Name"
          [value]="newPlayerName"
        >
        <select #powerRatingInput
          [value]="powerRating"
          (change)="onPowerRatingInput(powerRatingInput.value)">
          <option value="4">5</option>
          <option value="3">4</option>
          <option value="2">3</option>
          <option value="1">2</option>
          <option value="0">1</option>
        </select>
        <button class="add-btn" (click)="addPlayer()">+</button>
      </div>
      <div 
        class="error-message"
        *ngIf="playerErrorMessage">{{playerErrorMessage}}
      </div>
    </div>
    <app-players 
      [players]="players"
      (deletePlayerEvent)="deletePlayer($event)"
    ></app-players>
  </div>

  <div *ngIf="!showPlayers">
    <div class="data-source-wrapper">
      <div class="data-source">
        <input 
        #numberOfTeamsInput
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        type="number" 
        placeholder="Number of teams"
        [value]="numberOfTeams"
        >
        <button (click)="generateTeams()">Go</button>
      </div>
      <div 
          class="error-message"
          *ngIf="teamsErrorMessage">{{teamsErrorMessage}}
      </div>
    </div>
    <app-teams [teams]="teams"></app-teams>
  </div>

</div>