<div class="team-list-wrapper">
  <div 
  *ngIf="!teams.length" 
  style="text-align: center; color: grey;"
  >No data to show</div>
  <div class="team-list">
    <div *ngFor="let team of teams; let i = index">
      <h4>Team <span class="blue">#{{i + 1}}</span></h4>
      <div class="player" *ngFor="let player of team; let j = index">
        <span>#{{j + 1}}</span>
        <span>{{player.name | titlecase }}</span>
        <span class="name">{{ player.power + 1 }}</span>
      </div>
    </div>
  </div>
</div>
